/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* On phone, overflow-x hidden */
@media (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
}

/* Modern style scrollbar, thin and bigger when hover, rounder borders, when at the top or the bottom, the border is no more round  */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.1);
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
*::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-corner {
  background: transparent;
}
